<div class="page-header text-center">
	{{#if user.picture}}
		<h2><img class="user-pic" src="{{user.picture}}" />
	{{else}}
		<h2><img class="user-pic" src="http://vansgb.com/van-hire/wp-content/uploads/profile_placeholder-240x280.png" />
	{{/if}}
	{{#if user.fb.firstName}}
		 Hello, {{user.fb.firstName}}</h2>
	{{else if user.google.displayName}}
		 Hello, {{user.google.displayName}}</h2>
		{{!-- <h2>Hello, {{user.google.name.givenName}}</h2> --}}
	{{/if}}
</div>

<div class="container col-md-4 col-md-offset-4">
	<h4>About:</h4>
	<ul>
		<li>{{user.about}}</li>
	</ul>
	{{#if user.favorites}}
		<h4>Favorite Teams:</h4>
		<ul id="user-favs">
			{{#each team}}
				<li>{{this}} {{!-- <a href="#" id="trash" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-trash"></span></a> --}}</li>
			{{/each}}
		</ul>
	{{/if}}
	<form id="edit-user-btn" method="GET" action="/users/{{user._id}}/edit">
	  <div class="form-group text-center">
	    <input class="btn btn-bottom" type="submit" value="EDIT or DELETE PROFILE" />
	  </div>
	</form>
</div>