<div class="page-header center">
	<h1><img id="profile-pic" src="{{user.picture}}" />
	{{#if user.fb}}
		Hello, {{user.fb.firstName}}</h1>
	{{!-- {{else}}
		<h1>Hello, {{user.google.email}}</h1> --}}
	{{/if}}
</div>

<div class="container" >
	<label>About:</label> <p>{{user.about}}</p>
	<form id="edit-user-btn" method="GET" action="/users/{{user._id}}/edit">
	  <div class="form-group col-md-4 form-centered">
	    <input class="btn btn-primary col-md-12" type="submit" value="EDIT or DELETE PROFILE" />
	  </div>
	</form>
</div>
